<h1> Login </h1>

<div class="flashmessage">
    <%= flash[:message] if flash[:message] %>
</div>

<%= form_for :household do |f| %>

    <%= f.email_field :email, placeholder: "Email", required: true %>
    <br>
    <br>
    <%= f.password_field :password, placeholder: "Password", required:true %>
    <br>
    <br>
    <%= submit_tag "Login"%>

<% end %>

<h4> Login with Google Link goes here </h4>

<br>
<%= link_to "Sign Up", signup_path %>