<h1> Login </h1>

<div class="flashmessage">
    <%= flash[:message] if flash[:message] %>
</div>

<%= form_for :household do |f| %>

    <%= f.text_field :name, placeholder: "Family Name", required: true %>
    <br>
    <br>
    <%= f.password_field :password, placeholder: "Password", required:true %>
    <br>
    <br>
    <%= submit_tag "Login"%>

<% end %>

<h1> Login with Google </h1>

<br>
<%= link_to "Sign Up", signup_path %>