<!DOCTYPE html>
<html>
  <head>
    <title>Swayeringv1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if logged_in? %>
    <nav class='navbar'>
      <%= link_to "Home", household_path(@household) %>
    </nav>
    <% end %>
    

    <%= yield %>

    <br>
    <footer>
      <% if logged_in? %>
        <%= link_to "Logout [#{@household.name}]", logout_path, method: "delete" %>
      <% end %>
      
      <div class="copyright"><small> &copy;2020 Sawyeringv1 </small></div>
    </footer>

  </body>
</html>
